.navbar{
  background-color: rgb(233, 236, 239);
}

body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

/*NavBar*/



/*For register Page*/

.center{
  outline: none;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.SignErr{
  text-align: center;
  background-color: rgba(187, 29, 29, 0.342);
  border-radius: 10px;
  width: 300px;
}

.card{
  position: absolute;
  left: 50%;
  border-radius: 5px;
  width: 400px;
}